@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100;400;500;700&display=swap");
@font-face {
  font-family: voyage;
  src: url("../font/voyage-regular.woff") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: voyage, sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
  overflow-y: visible;
  cursor: none;
}

/*Loading page */
.preloader {
  background-image: url(../photos/bg_loader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 115%;
  position: fixed;
  z-index: 999999;
  transition: all 1s ease-in-out;
  top: 0;
  left: -200px;
  overflow: hidden;
}
.animate-preloader {
  /* Dodaj animację po opóźnieniu */
  animation: loaderAnimation 1s ease-in-out;
}
@keyframes loaderAnimation {
  0% {
    transform: translateX(0px) rotate(0);
  }
  100% {
    transform: translateX(3000px) rotate(0);
  }
}
@media (max-width: 700px) {
  .preloader {
    left: -20px;
  }
}
.loading_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh 20vh;
  height: 100vh;
}
.loading_section div {
  text-align: center;
  align-self: center;
}
.loading_section div h1 {
  font-size: 150px;
}
.loading_section div h2 {
  margin-top: -0.5em;
  font-size: 75px;
}
.name_portfolio {
  grid-row: 2;
  display: grid;
  font-family: "Montsserat", Arial, sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 25px;
  justify-items: left;
}
.name_portfolio .name {
  font-weight: bold;
}
.name_portfolio .job,
.name {
  grid-column: 6;
}
.name_portfolio .job {
  color: rgb(190, 190, 190);
}
@media (max-width: 1100px) {
  .loading_section div h1 {
    font-size: 150px;
  }
  .loading_section div h2 {
    font-size: 75px;
  }
  .name_portfolio {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .name_portfolio .job,
  .name {
    grid-column: 1;
  }
}
@media (max-width: 700px) {
  .loading_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 20vh;
    height: 100vh;
  }
  .loading_section div h1 {
    font-size: 85px;
  }
  .loading_section div h2 {
    margin-top: -0.5em;
    font-size: 40px;
  }
}

/*Header*/
.main_header {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  align-content: center;
  font-family: "Montserrat", Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  width: 3em;
  z-index: 999;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 3em;
  padding-top: 4em;
  position: fixed;
  top: 0em;
  width: 100%;
}
.list {
  background-color: black;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0vh;
  flex-direction: column;
  text-align: center;
  transform: translate(100%);
  transition: 0.9s ease-in-out;
  width: 100%;
}
.list ul {
  position: absolute;
  right: 0;
  top: 40vh;
  flex-direction: column;
  text-align: center;
  width: 100%;
  list-style-type: none;
}

.list ul li {
  margin: 0;
  padding-top: 2vh;
}

.list ul li a {
  text-decoration: none;
  font-size: 1.6em;
  position: relative;
  color: white;
  font-family: "Montsserat", Arial, sans-serif;
}

.list ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 0.15em;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.list ul li a:hover::after {
  width: 100%;
}

/* Burger Styling */
.hamburger {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  padding: 0em;
}

.hamburger .line {
  width: 3em;
  height: 0.2em;
  background: white;
  margin: 0.4em;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.hamburger.active .line:first-child {
  transform: translateX(15px);
}

.hamburger.active .line:nth-child(2) {
  transform: translateX(-15px);
}

.list.active {
  transform: translate(0%);
}

.scroll_back {
  position: fixed;
  bottom: 2em;
  right: 3em;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}
.scroll_back a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1.4em 1.8em 1.4em 1.8em;
  border-radius: 50%;
}
.scroll_back:hover {
  opacity: 1;
}

@media (max-width: 700px) {
  .main_header {
    height: 70px;
  }
  .logo {
    width: 2em;
  }
  nav {
    height: 5vh;
    padding-left: 2em;
    padding-right: 1.5em;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .hamburger {
    padding-right: 0em;
  }
  .hamburger .line {
    width: 3em;
    height: 0.2em;
    margin: 0.5em;
    border-radius: 0px;
  }
  .scroll_back {
    bottom: 1em;
    right: 1em;
  }
  .scroll_back a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5em 0.9em 0.5em 0.9em;
    border-radius: 50%;
  }

  .hamburger.active .line:first-child {
    transform: translateX(10px);
  }

  .hamburger.active .line:nth-child(2) {
    transform: translateX(-10px);
  }
}

/*main_banner*/
.main_banner {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_banner .anim {
  display: grid;
  justify-content: center;
  align-items: center;
}
.main_banner h1 {
  font-size: 150px;
  position: relative;
  z-index: 3;
  transition: color 0.8s ease-in-out;
}
.main_banner p {
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 19px;
  color: rgb(190, 190, 190);
}
.main_banner .text_up {
  grid-row: 1;
  text-align: center;
}
.main_banner .text_middle {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-row: 2;
  text-align: center;
}
.main_banner .text_middle h1 {
  text-align: right;
}
.main_banner .text_middle p {
  text-align: right;
  width: 450px;
  margin-top: 35px;
  margin-left: 30px;
}
.main_banner .text_down {
  display: inline-block;
  grid-row: 3;
  text-align: center;
}
@media (max-width: 1100px) {
  .main_banner {
    grid-template-columns: 1fr;
  }
  .main_banner h1 {
    font-size: 90px;
  }
  .main_banner .text_up {
    grid-row: 1;
    text-align: center;
  }
  .main_banner .text_middle {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
    text-align: center;
  }
  .main_banner .text_middle h1 {
    text-align: center;
  }
  .main_banner .text_middle p {
    display: none;
  }
  .main_banner .text_down {
    display: inline-block;
    grid-row: 3;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .main_banner h1 {
    font-size: 45px;
    position: relative;
    z-index: 3;
    transition: color 0.8s ease-in-out;
  }
}

/*main_description*/
.main_description {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_description .small_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.main_description .small_heading p {
  justify-self: left;
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 15px;
  color: rgb(190, 190, 190);
}
.main_description .small_heading a {
  justify-self: right;
  color: white;
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.description {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 90%;
  margin-top: 2em;
}
.description .description_left {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2em;
}

.description .description_right {
  width: 40%;
}
.description .description_left div,
.description_right {
  border: 1px solid rgb(190, 190, 190);
  padding-left: 3em;
  padding-bottom: 1em;
  padding-right: 3em;
}
.description h4 {
  font-size: 20px;
  color: white;
  margin-top: 2em;
}
.description p {
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 17px;
  margin-top: 1em;
  color: rgb(190, 190, 190);
  text-align: justify;
}
.description img {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 50px;
  padding-right: 1em;
}

@media (max-width: 700px) {
  .main_description .small_heading p {
    justify-self: left;
    font-family: "Montsserat", Arial, sans-serif;
    font-size: 12px;
    color: rgb(190, 190, 190);
  }
  .main_description .small_heading a {
    justify-self: right;
    color: white;
    font-family: "Montsserat", Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  .description {
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
  }
  .description .description_left {
    width: 100%;
  }

  .description .description_right {
    width: 100%;
  }
  .description .description_left div,
  .description_right {
    border: 1px solid rgb(190, 190, 190);
    padding-left: 2em;
    padding-bottom: 1em;
    padding-right: 2em;
  }
  .description img {
    height: 35px;
  }
  .description p {
    font-family: "Montsserat", Arial, sans-serif;
    font-size: 17px;
    margin-top: 1em;
    color: rgb(190, 190, 190);
    text-align: left;
  }
}

/*main_projects*/
.main_projects_tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_projects_tittle h1 {
  padding-top: 300px;
  font-size: 95px;
  text-align: center;
  margin-bottom: 150px;
  position: relative;
  z-index: 3;
  color: white;
  transition: color 0.8s ease-in-out;
}
.main_projects_tittle .line {
  display: grid;
  grid-template-columns: 1fr;
  border-left: 1px solid rgb(190, 190, 190);
  height: 350px;
  width: 0px;
  justify-self: center;
}

.main_projects {
  display: flex;
  width: 600vw;
  height: 100vh;
  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
  position: relative;
  z-index: 1;
}

.main_projects .project {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main_projects .project .project_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding-left: 5em;
  padding-right: 5em;
}
.main_projects .project .project_right {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
}
.main_projects .project h2 {
  font-size: 95px;
}

.main_projects .project .logo_project {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40px;
}

.main_projects .project p {
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 15px;

  color: rgb(190, 190, 190);
}

.project_img {
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.main_projects .project .image_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 30vh;
  width: 90%;
}
.main_projects .project .image_description .image_description_top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.main_projects .project .image_description .image_description_top .links {
  display: flex;
  gap: 2em;
}
.main_projects .project .image_description .image_description_down {
  display: flex;
  justify-content: space-between;

  width: 90%;
  align-items: center;
}
.main_projects
  .project
  .image_description
  .image_description_down
  .technologies {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.main_projects .project .image_description p {
  font-family: "Montsserat", Arial, sans-serif;
  margin: 0;
  font-size: 15px;
  color: rgb(190, 190, 190);
}
.main_projects .project a {
  font-family: "Montsserat", Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

@media (max-width: 1150px) {
  .main_projects_tittle h1 {
    font-size: 45px;
  }
  .main_projects_tittle .line {
    display: grid;
    grid-template-columns: 1fr;
    border-left: 1px solid rgb(190, 190, 190);
    height: 350px;
    width: 0px;
    justify-self: center;
  }
  .main_projects {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 500vh;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    position: relative;
    z-index: 1;
  }

  .main_projects .project {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .main_projects .project .project_left {
    display: flex;
    width: 100%;
    height: 20vh;
    border-top: 1px solid rgb(190, 190, 190);
    border-left: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
  }
  .main_projects .project .project_right {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgb(190, 190, 190);
  }
  .main_projects .project h2 {
    padding-top: 20px;
    font-size: 55px;
  }

  .main_projects .project .logo_project {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
  }

  .main_projects .project p {
    font-family: "Montsserat", Arial, sans-serif;
    font-size: 15px;
    color: rgb(190, 190, 190);
  }

  .project_img {
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  .main_projects .project .image_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 20vh;
    width: 90%;
  }
  .main_projects .project .image_description .image_description_top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }

  .main_projects .project .image_description .image_description_top .links {
    display: flex;
    gap: 2em;
  }
  .main_projects .project .image_description .image_description_down {
    display: flex;
    justify-content: space-between;

    width: 90%;
    align-items: center;
  }

  .main_projects .project .image_description p {
    font-size: 14px;
  }
  .main_projects .project a {
    font-size: 14px;
  }
}

/* main_form */

.main_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
}

/* footer */

footer {
  display: grid;
  justify-content: center;
  background-color: rgb(14, 14, 14);
  padding: 1.5em;
}

footer h4 {
  padding-top: 0.5em;
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 15px;
}
/*cursor_anim*/
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
}
.dot_cursor {
  width: 0.7rem;
  height: 0.7rem;
  background-color: white;
}

.cursor,
.dot_cursor {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 1s ease;
  transition-property: background, transform;
  z-index: 2;
  backdrop-filter: grayscale();
}
@media (max-width: 500px) {
  .cursor {
    display: none;
  }
  .dot_cursor {
    display: none;
  }
}
.scaleText {
  transform: scale(10);
  background-color: rgb(255, 255, 255);
}
.scaleTextHref {
  transform: scale(7);
  color: rgb(255, 255, 255);
}
.hovered-link {
  transition: color 0.5s ease;
  color: black !important;
}
.main_header_index {
  z-index: 9999;
}
.cursor_index {
  z-index: 10000;
}
/* scroll_theme */

::-webkit-scrollbar {
  width: 0em;
}
