body {
  margin: 0;
  padding: 0;
  font-family: "Abril Fatface", Arial, sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
  overflow-y: visible;
  cursor: none;
}

/*Loading page */
.loading_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh 20vh;
  height: 100vh;
}
.loading_section div {
  text-align: center;
  align-self: center;
}
.loading_section div h1 {
  font-size: 150px;
}
.loading_section div h2 {
  margin-top: -0.5em;
  font-size: 75px;
}
.name_portfolio {
  grid-row: 2;
  display: grid;
  font-family: "Montsserat", Arial, sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 25px;
  justify-items: left;
}
.name_portfolio .name {
  font-weight: bold;
}
.name_portfolio .job,
.name {
  grid-column: 6;
}
.name_portfolio .job {
  color: rgb(190, 190, 190);
}
@media (max-width: 1100px) {
  .loading_section div h1 {
    font-size: 150px;
  }
  .loading_section div h2 {
    font-size: 75px;
  }
  .name_portfolio {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .name_portfolio .job,
  .name {
    grid-column: 1;
  }
}
@media (max-width: 700px) {
  .loading_section div h1 {
    font-size: 85px;
  }
  .loading_section div h2 {
    margin-top: -0.5em;
    font-size: 40px;
  }
}

/*Header*/
.main_header {
  display: grid;
  grid-template-columns: 1fr;
  height: 100px;
  align-items: center;
  font-family: "Montserrat", Arial, sans-serif;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 20px;
}
.logo {
  margin-left: 2em;
}
.logo img {
  height: 40px;
}
.scroll_back {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}
.scroll_back a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1em 1.35em 1em 1.35em;
  border-radius: 50%;
}
.scroll_back:hover {
  opacity: 1;
}
.hamburger .line1,
.hamburger .line2 {
  display: block;
  width: 70px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: transform 0.4s ease-in-out;
}
.menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 950px;
  background-color: black;
  padding: 50px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  border-left: 3px solid white;
}
.checkbox {
  opacity: 0;
}
.menu-items ul {
  list-style: none;
  padding-top: 200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-items li {
  margin-bottom: 10px;
}
.menu-items a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
.hamburger {
  display: block;
  cursor: pointer;
  margin-right: 2em;
}
.checkbox:checked ~ .menu-items {
  transform: translateX(0);
}
.checkbox:checked ~ .hamburger .line1 {
  transform: translateX(20px);
}
.checkbox:checked ~ .hamburger .line2 {
  transform: translateX(-20px);
}
@media (max-width: 700px) {
  .main_header {
    height: 70px;
  }
  .logo {
    margin-left: 1em;
  }
  .logo img {
    height: 30px;
  }
  .scroll_back {
    bottom: 1em;
    right: 1em;
  }
  .scroll_back a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5em 0.9em 0.5em 0.9em;
    border-radius: 50%;
  }
  .hamburger {
    margin-right: 1em;
  }
  .hamburger .line1,
  .hamburger .line2 {
    width: 30px;
    height: 2px;
    margin: 4px 0;
  }
  .checkbox:checked ~ .hamburger .line1 {
    transform: translateX(10px);
  }
  .checkbox:checked ~ .hamburger .line2 {
    transform: translateX(-10px);
  }
}

/*main_banner*/
.main_banner {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_banner .anim {
  display: grid;
  justify-content: center;
  align-items: center;
}
.main_banner h1 {
  font-size: 150px;
  position: relative;
  z-index: 3;
  transition: color 0.8s ease-in-out;
}
.main_banner p {
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 19px;
  color: rgb(190, 190, 190);
}
.main_banner .text_up {
  grid-row: 1;
  text-align: center;
}
.main_banner .text_middle {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-row: 2;
  text-align: center;
}
.main_banner .text_middle h1 {
  text-align: right;
}
.main_banner .text_middle p {
  text-align: right;
  width: 450px;
  margin-top: 35px;
  margin-left: 30px;
}
.main_banner .text_down {
  display: inline-block;
  grid-row: 3;
  text-align: center;
}
@media (max-width: 1100px) {
  .main_banner {
    grid-template-columns: 1fr;
  }
  .main_banner h1 {
    font-size: 90px;
  }
  .main_banner .text_up {
    grid-row: 1;
    text-align: center;
  }
  .main_banner .text_middle {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
    text-align: center;
  }
  .main_banner .text_middle h1 {
    text-align: center;
  }
  .main_banner .text_middle p {
    display: none;
  }
  .main_banner .text_down {
    display: inline-block;
    grid-row: 3;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .main_banner h1 {
    font-size: 35px;
    position: relative;
    z-index: 3;
    transition: color 0.8s ease-in-out;
  }
}

/*main_description*/
.main_description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh auto;
}
.main_description .small_heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 5em;
  padding-right: 5em;
}
.main_description .small_heading p {
  grid-column: 1;
  justify-self: left;
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 15px;
  color: rgb(190, 190, 190);
}
.main_description .small_heading a {
  grid-column: 2;
  justify-self: right;
  color: white;
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  margin-left: 5em;
  margin-right: 5em;
  padding: 2em 3em 4em 5em;
  border: 6px solid white;
}
.description h4 {
  font-size: 20px;
  color: white;
  margin-top: 2em;
}
.description p {
  font-family: "Montsserat", Arial, sans-serif;
  font-size: 17px;
  margin-top: 1em;
  color: rgb(190, 190, 190);
}
.description img {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 50px;
  padding-right: 1em;
}

@media (max-width: 700px) {
  .main_description {
    grid-template-rows: 5vh auto;
  }

  .main_description .small_heading {
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  .main_description .small_heading a {
    display: none;
  }
  .main_description .small_heading p {
    grid-column: 1;
    font-size: 12px;
    justify-self: center;
  }

  .description {
    grid-template-columns: 1fr;
    gap: 2em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    text-align: center;
  }

  .description h4 {
    font-size: 15px;
    text-align: center;
  }
  .description p {
    font-family: "Montsserat", Arial, sans-serif;
    font-size: 12px;
    margin-top: 1em;
    color: rgb(190, 190, 190);
    text-align: center;
  }
  .description img {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 30px;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

/*main_projects*/
.main_projects {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main_projects h1 {
  padding-top: 300px;
  font-size: 95px;
  text-align: center;
  margin-bottom: 150px;
  position: relative;
  z-index: 3;
  color: white;
  transition: color 0.8s ease-in-out;
}
.main_projects .line {
  display: grid;
  grid-template-columns: 1fr;
  border-left: 3px solid white;
  height: 350px;
  width: 0px;
  justify-self: center;
  margin-bottom: 250px;
}

.main_projects .project {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  align-content: center;
  margin-bottom: 270px;
}
.main_projects .project h2 {
  font-size: 95px;
  justify-self: center;
}
.main_projects .project > img {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 40px;
  justify-self: center;
}
.main_projects .project h3 {
  font-size: 400px;
  position: absolute;
  justify-self: center;
  z-index: -1;
  color: rgb(104, 104, 104);
  margin-top: -180px;
  overflow: hidden;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
.main_projects .project p {
  font-family: "Montsserat", Arial, sans-serif;
  justify-self: center;
  font-size: 15px;
  margin-bottom: 100px;
  color: rgb(190, 190, 190);
}
.main_projects .project .project_img {
  margin-top: 40px;
  margin-bottom: 30px;
  height: 700px;
  justify-self: center;
  border: 6px solid white;
}
.main_projects .project .image_description {
  display: grid;
  grid-template-columns: repeat(2, 700px);
  justify-content: center;
}
.main_projects .project .image_description p {
  font-family: "Montsserat", Arial, sans-serif;
  justify-self: left;
  font-size: 15px;
  margin-bottom: 100px;
  color: rgb(190, 190, 190);
}
.main_projects .project a {
  height: 50px;
  width: 150px;
  font-family: "Montsserat", Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: white;
  justify-self: right;
}

@media (max-width: 768px) {
  .main_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main_projects h1 {
    padding-top: 300px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  .main_projects .line {
    margin-bottom: 80px;
  }

  .main_projects .project {
    margin-bottom: 50px;
  }

  .main_projects .project h2 {
    font-size: 30px;
    text-align: center;
  }

  .main_projects .project > img {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 30px;
  }

  .main_projects .project h3 {
    font-size: 120px;
    margin-top: -60px;
  }

  .main_projects .project p {
    font-size: 13px;
    margin-bottom: 40px;
  }

  .main_projects .project .project_img {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 250px;
    width: 200px;
  }

  .main_projects .project .image_description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_projects .project .image_description p {
    justify-self: center;
    margin-bottom: 20px;
  }

  .main_projects .project a {
    height: 30px;
    width: 150px;
    font-size: 12px;
    margin-bottom: 80px;
  }
}

/*cursor_anim*/
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 1s ease;
  transition-property: background, transform;
  transform-origin: 50% 50%;
  z-index: 2;
  backdrop-filter: grayscale();
}

.scaleText {
  transform: scale(10);
  background-color: rgb(255, 255, 255);
}
.hovered-link {
  transition: color 0.5s ease;
  color: black !important;
}
.main_header_index {
  z-index: 9999;
}
.cursor_index {
  z-index: 10000;
}

/* scroll_theme */

::-webkit-scrollbar {
  width: 0em;
}
